<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cats-Mous</title>
</head>
<body>
    <p>Введите свои данные</p>
    <form method="post" action="/Home/Donate">
        <label>Введите Cумму пожертвования</label><br />
        <input type="number" name="Amount" /><br />
        <label>Ведите коментарий</label><br />
        <input type="text" name="Description" /><br />
        <input type="submit" value="Подтвердить" />
    </form>
</body>
</html>