<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cats-Mous</title>
</head>
<body>
    <h3>Произошла ошибка при оплате попробуйте заного </h3>
    <a href="/Home/Donate">Сделать пожертвование</a><br />
    <a href="/Home/Index">Главнвая</a>
</body>
</html>